{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<!-- Bootstrap Files -->
    <link rel="stylesheet" href="{% static "core/bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "core/css/header.css" %}">
</head>
<body>
	
	<div class="bgimg">
		<div class="container">
			<div class="row">
				<div class="col-lg-9">
					<div class="top-content">
						<h1>Let's Upgrade Your Look's</h1>
						<p>We offer a full range of hairdressing, grooming, skincare, and beauty services, tailored to enhance your style and confidence. Our expert team provides personalized care to meet your unique needs.</p>
						<button class="btn">Book Now</button>
					</div>	
				</div>
				<div class="col-lg-3"></div>
			</div>
		</div>
	</div>
	
</body>
</html>