.bgimg{
  background-image: url("/static/core/images/HeaderPic4.png");
  height: 100vh;
  background-size: cover;
  background-position: center;
}
@font-face{
    font-family: manisha;
    src: url('/static/core/Fonts/Montserrat-Regular.ttf');
}
@font-face{
    font-family: manishabrand;
    src: url('/static/core/Fonts/Sofia-Regular.ttf');
}

.top-content{
  margin-top: 10%;
  color: #FFF;
  padding: 30px;
  /*max-width: 540px;*/
}
.top-content h1{
  font-weight: 600;
  font-size: 3.5rem;
  font-family: manishabrand;
}
.top-content p{
  font-size: 20px;
  margin-top: 20px;
  font-family: manisha;
}
.btn{
  width: 200px;
  font-size: 16px;
  font-weight: 500;
  background: #fff;
  color: #000000
  letter-spacing: 1px;
}
.btn:hover{
  border-color: #fff;
  background: transparent;
  color: #fff;
}