{% extends 'dashboard/base.html' %}

    {% block breadcrumb %}
        Customers 
    {% endblock breadcrumb %}

    {% block title %}
        Customers
    {% endblock title %}
        
{% block content %}

{% load static %}

<section class="content">
        <div class="container-fluid">

            <div class="row">

                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card">
                        
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                <th>ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Address</th>
                                <th>Phone No.</th>
                                <th>Email</th>
                                <th>Gender</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for customer in customers %}
                                <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ customer.first_name }}</td>
                                <td>{{ customer.last_name }}</td>
                                <td>{{ customer.address }}</td>
                                <td>{{ customer.phone }}</td>
                                <td>{{ customer.email }}</td>
                                <td>{{ customer.get_gender_display }}</td>
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        </div>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>

  {% endblock content %}